{% extends "layout.html" %}
{% block body %}

<form action="{{ url_for('result_page') }}" method=post class=add-entry style="margin-top: 20px;">
    <div class="form-group">
        <label for="InputDate">祝日 日付</label>
        <input type="date" name="holiday_date" class="form-control" id="InputDate">
    </div>

    <div class="form-group">
        <label for="InputText">祝日 テキスト</label>
        <input type="text" name="holiday_text" value="" class="form-control" id="InputText">
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-primary" name="button" value="insert_update">新規登録・更新</button>
    </div>

    <div class="btn-group">
        <button type="submit" class="btn btn-danger" name="button" value="delete" style="margin-left: 10px;">削除</button>
    </div>

</form>

<form action="{{ url_for('list_page') }}" method=post class=add-entry>
    <div class="btn-group">
        <button type="submit" class="btn btn-secondary" name="button" value="delete" style="margin-top: 50px;">一覧表示</button>
    </div>
</form>
{% endblock %}